header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: rgb(255, 255, 255);
  background: linear-gradient(236deg, rgba(255, 255, 255, 1) 17%, rgb(102, 178, 255) 100%);
  border-bottom: 1px solid black;
  padding-left: 40px;
  position: sticky;
  top: 0px;
}

header img {
  width: 50px;
  height: 50px;
}

h1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  color: #FFFFFF;
  -webkit-text-stroke: 1px black;
}

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  top: 84px;

  width: 250px;
  height: calc(100vh - 84px);
  background: rgb(166, 211, 255);
  background: linear-gradient(270deg, rgba(166, 211, 255, 1) 0%, rgba(102, 178, 255, 1) 100%);

}

.NavBar button {
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  transition: ease-in-out;
  transition-duration: 250ms;

  font-size: 20px;
  color: #FFFFFF;
  flex-grow: 1;
}

.NavBar button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.Contenido {
  display: flex;
}

.Main {
  width: 100%;
}

.MensajeBienvenida {
  padding-top: 30px;
  padding-left: 30px;
}

.MensajeBienvenida p:first-child {
  margin: 0px;
  font-size: 28px;
}

.MensajeBienvenida button {
  margin-left: 5px;
  border: 0px;
  background-color: #FFFFFF;
  color: blue;
  font-size: 14px;
  cursor: pointer;
}

.CanjeDePuntos {
  margin-left: 30px;
  padding-top: 30px;
}

.Item {
  padding-top: 16px;
  margin-bottom: 16px;
  display:inline-block;
  flex-direction: column;
  align-items: center;

  border: 1px solid #000000;
  border-radius: 20px;
}

.Item .Contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.Item .Contenido p:nth-child(3) {
  margin-top: 0px;
}

.ItemList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ItemCount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemCount .addProduct{
  margin-bottom: 16px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.ItemCount .inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
}

.ItemCount .inputs input {
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

.ItemCount .inputs button {
  font-size: 20px;
  width: 25px;
  height: 25px;
  background-color: #66b2ff;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}