header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: rgb(255, 255, 255);
  background: linear-gradient(236deg, rgba(255, 255, 255, 1) 17%, rgb(102, 178, 255) 100%);
  border-bottom: 1px solid black;
  padding-left: 40px;
  position: sticky;
  top: 0px;
}

header img {
  width: 50px;
  height: 50px;
}

h1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  color: #FFFFFF;
  -webkit-text-stroke: 1px black;
}

.InicioSesion {
  height: calc(100vh - 84px);

  background-image: url("https://aldianews.com/sites/default/files/2022-06/Chicago%20panoramic%20view%20%281%29.jpg");
  background-size: 100% 100%;
}

.InicioSesion .Container {
  display: flex;
  width: 32%;
  height: 100%;
  justify-content: center;
  align-items: center;

  background: rgb(255, 255, 255);
  background: linear-gradient(236deg, rgba(255, 255, 255, 1) 17%, rgb(102, 178, 255) 100%);
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.2), 0 45px 50px 0 rgba(0, 0, 0, 0.09);
}

.FormularioInicioSesion {
  display: flex;
  width: 300px;
  height: 316px;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  padding: 20px 30px;

  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.FormularioInicioSesion h2 {
  text-align: center;
  margin: 0px;

  font-weight: 500;
  font-size: 28px;
}

.FormularioInicioSesion p {
  margin: 0px;
}

.FormularioInicioSesion input {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-size: 16px;
}

.FormularioInicioSesion div:nth-child(5) {
  display: flex;
  justify-content: center;
}

.FormularioInicioSesion button {
  padding: 5px 20px;

  color: #ffffff;
  background-color: #007dfa;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  top: 84px;

  width: 250px;
  height: calc(100vh - 84px);
  background: rgb(166, 211, 255);
  background: linear-gradient(270deg, rgba(166, 211, 255, 1) 0%, rgba(102, 178, 255, 1) 100%);

}

.NavBar a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 250ms;

  font-size: 20px;
  color: #FFFFFF;
  flex-grow: 1;
}

.NavBar a:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.Contenido {
  display: flex;
}

.Main {
  width: 100%;
}

.MensajeBienvenida {
  padding-top: 30px;
  padding-left: 30px;
}

.MensajeBienvenida p:first-child {
  margin: 0px;
  font-size: 28px;
}

.MensajeBienvenida button {
  margin-left: 5px;
  border: 0px;
  background-color: #FFFFFF;
  color: blue;
  font-size: 14px;
  cursor: pointer;
}

.PantallaDeCarga {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

.ItemListContainer {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.ItemListContainer .ItemListContainerTittle {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.ItemListContainer .ItemListContainerTittle h2 {
  margin: 0px;
  font-weight: 500;
  font-size: 28px;
}

.ItemListContainer .ItemListContainerTittle a {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  gap: 5px;

  color: #ffffff;
  text-decoration: none;
  font-weight: bold;

  background-color: #ff8000;
  border-radius: 15px;
}

.ItemListContainer .ItemListContainerTittle a span:nth-child(1) {
  width: 21px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  background-color: red;
}

.ItemListContainer .Categorias {
  margin-bottom: 30px;

  display: flex;
  gap: 10px;
}

.ItemListContainer .Categorias button {
  height: 35px;

  font-size: 18px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: pointer;

  transition: ease-in-out;
  transition-duration: 250ms;
}

.ItemListContainer .Categorias .btnTodos:hover {
  color: #ffffff;
  background-color: #000000;
}

.ItemListContainer .Categorias .btnViajes:hover {
  color: #ffffff;
  background-color: orange;
}

.ItemListContainer .Categorias .btnElectronica:hover {
  color: #ffffff;
  background-color: tomato;
}

.ItemListContainer .Categorias .btnVarios:hover {
  color: #ffffff;
  background-color: #00720f;
}

.Item {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.Item .Contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.Item .Contenido img {
  width: 200px;
  height: 200px;
}


.Item .Contenido p:nth-child(3) {
  margin-top: 0px;
}

.Item a {
  padding: 8px;
  font-size: 20px;
  background-color: #66b2ff;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;

  transition: ease-in-out;
  transition-duration: 250ms;
}

.Item a:hover {
  background-color: #007dfa;
}

.ItemList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.ItemDetailContainer {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  padding: 15px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ItemDetailContainer h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 28px;
}

.ItemDetail {
  padding-top: 30px;
  display: flex;
}

.ItemDetail .Detalles {
  width: 70%;
}

.ItemDetail .Detalles p {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}

.ItemDetail .Detalles .Detalles-Img {
  display: flex;
  justify-content: center;
}

.ItemDetail .Detalles .Detalles-Img img {
  width: 300px;
  height: 300px;
}

.ItemDetail .Informacion {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ItemDetail .Informacion p:first-child {
  margin: 0px;
  font-weight: bold;
}

.ItemDetail .Informacion .ToCart {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.ItemDetail .Informacion .ToCart .btnVolver {
  padding: 8px;
  font-size: 20px;
  background-color: #007dfa;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;

  transition: ease-in-out;
  transition-duration: 250ms;
}

.ItemDetail .Informacion .ToCart .btnDetailCarrito {
  padding: 8px;
  font-size: 20px;
  background-color: #ff8514;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;

  transition: ease-in-out;
  transition-duration: 250ms;
}

.ItemCount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemCount .addProduct {
  margin-bottom: 16px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.ItemCount .inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
}

.ItemCount .inputs input {
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

.ItemCount .inputs button {
  font-size: 20px;
  width: 25px;
  height: 25px;
  background-color: #66b2ff;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.ItemCart {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 30px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ItemCart p {
  margin: 0px;
}

.ItemCart .NombreProducto {
  font-size: 20px;
  margin-bottom: 5px;
}

.ItemCart button {
  color: #ffffff;
  background-color: #C0392B;
  border: 0px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.CartOptions {
  margin-right: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.CartOptions a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 60px;
}

.CartOptions p:nth-child(1) {
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 0px 15px;

  font-weight: 500;
  border-radius: 60px;
  border: 2px solid #00720f;
  font-size: 18px;
}

.CartOptions a:nth-child(2) {
  background-color: #007dfa;
}

.CartOptions a:nth-child(3) {
  background-color: #ff8717;
}

.CarritoVacio {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.CarritoVacio .MensajeCarritoVacio {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.CarritoVacio .MensajeCarritoVacio img {
  width: 250px;
  height: 250px;
}

.CarritoVacio .MensajeCarritoVacio p {
  margin: 0px;
  text-align: center;
}

.CarritoVacio .MensajeCarritoVacio p:nth-child(2) {
  font-size: 22px;
  font-weight: 600;
}

.CarritoVacio .MensajeCarritoVacio p:nth-child(3) {
  font-size: 18px;
}

.CarritoVacio .MensajeCarritoVacio a {
  margin-top: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 60px;
  background-color: #007dfa;
}

.ItemCartList {
  margin: 30px;
  padding: 20px 0px;

  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}