header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: rgb(255, 255, 255);
  background: linear-gradient(236deg, rgba(255, 255, 255, 1) 17%, rgba(102, 178, 255, 1) 100%);
  border-bottom: 1px solid black;
  padding-left: 40px;
  position: sticky;
  top: 0px;
}

header img {
  width: 50px;
  height: 50px;
}

h1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  color: #FFFFFF;
  -webkit-text-stroke: 1px black;
}

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  top: 84px;

  width: 250px;
  height: calc(100vh - 84px);
  background: rgb(166, 211, 255);
  background: linear-gradient(270deg, rgba(166, 211, 255, 1) 0%, rgba(102, 178, 255, 1) 100%);

}

.NavBar button {
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  transition: ease-in-out;
  transition-duration: 250ms;

  font-size: 20px;
  color: #FFFFFF;
  flex-grow: 1;
}

.NavBar button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.Contenido {
  display: flex;
}

.Main {
  width: 100%;
}

.MensajeBienvenida {
  padding-top: 30px;
  padding-left: 30px;
}

.MensajeBienvenida p:first-child {
  margin: 0px;
  font-size: 28px;
}

.MensajeBienvenida button {
  margin-left: 5px;
  border: 0px;
  background-color: #FFFFFF;
  color: blue;
  font-size: 14px;
  cursor: pointer;
}